In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [3]:
#load the data in pandas file
Credit_card_data=pd.read_csv('Credit_card_fraud_data.csv')
Credit_card_data.head()

,Unnamed: 0,ID,GENDER,CAR,REALITY,NO_OF_CHILD,INCOME,INCOME_TYPE,EDUCATION_TYPE,FAMILY_TYPE,HOUSE_TYPE,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET
0,0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,2,29,59,3,0
1,1,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1,4,52,8,0
2,2,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1,26,52,8,0
3,3,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1,26,52,8,0
4,4,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1,38,52,8,0

In [4]:
#Removing unnecessary columns from dataset
Credit_card_data=Credit_card_data.drop(columns=['GENDER'],axis=1)
Credit_card_data=Credit_card_data.drop(columns=['CAR'],axis=1)
Credit_card_data=Credit_card_data.drop(columns=['INCOME_TYPE'],axis=1)
Credit_card_data=Credit_card_data.drop(columns=['EDUCATION_TYPE'],axis=1)
Credit_card_data=Credit_card_data.drop(columns=['FAMILY_TYPE'],axis=1)
Credit_card_data=Credit_card_data.drop(columns=['HOUSE_TYPE'],axis=1)
Credit_card_data

,Unnamed: 0,ID,REALITY,NO_OF_CHILD,INCOME,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET
0,0,5008806,Y,0,112500.0,1,0,0,0,2,29,59,3,0
1,1,5008808,Y,0,270000.0,1,0,1,1,1,4,52,8,0
2,2,5008809,Y,0,270000.0,1,0,1,1,1,26,52,8,0
3,3,5008810,Y,0,270000.0,1,0,1,1,1,26,52,8,0
4,4,5008811,Y,0,270000.0,1,0,1,1,1,38,52,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,19994,5117250,Y,2,112500.0,1,0,0,0,4,16,36,7,0
19995,19995,5117251,Y,2,112500.0,1,0,0,0,4,14,36,7,0
19996,19996,5117252,Y,2,112500.0,1,0,0,0,4,7,36,7,0
19997,19997,5117254,Y,0,207000.0,1,0,0,0,2,37,61,10,0
19998,19998,5117255,Y,0,207000.0,1,0,0,0,2,49,61,10,0

In [5]:

Credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      19999 non-null  int64
 1   ID              19999 non-null  int64
 2   REALITY         19999 non-null  object
 3   NO_OF_CHILD     19999 non-null  int64
 4   INCOME          19999 non-null  float64
 5   FLAG_MOBIL      19999 non-null  int64
 6   WORK_PHONE      19999 non-null  int64
 7   PHONE           19999 non-null  int64
 8   E_MAIL          19999 non-null  int64
 9   FAMILY SIZE     19999 non-null  int64
 10  BEGIN_MONTH     19999 non-null  int64
 11  AGE             19999 non-null  int64
 12  YEARS_EMPLOYED  19999 non-null  int64
 13  TARGET          19999 non-null  int64
dtypes: float64(1), int64(12), object(1)
memory usage: 2.1+ MB

In [6]:
Credit_card_data.isnull().sum()

Unnamed: 0        0
ID                0
REALITY           0
NO_OF_CHILD       0
INCOME            0
FLAG_MOBIL        0
WORK_PHONE        0
PHONE             0
E_MAIL            0
FAMILY SIZE       0
BEGIN_MONTH       0
AGE               0
YEARS_EMPLOYED    0
TARGET            0
dtype: int64

In [7]:
# Adding a new column using if-else
Credit_card_data['Class'] = [0 if x == 'Y' else 1 for x in Credit_card_data['REALITY']]
print(Credit_card_data)

       Unnamed: 0       ID REALITY  NO_OF_CHILD    INCOME  FLAG_MOBIL  \
0               0  5008806       Y            0  112500.0           1
1               1  5008808       Y            0  270000.0           1
2               2  5008809       Y            0  270000.0           1
3               3  5008810       Y            0  270000.0           1
4               4  5008811       Y            0  270000.0           1
...           ...      ...     ...          ...       ...         ...
19994       19994  5117250       Y            2  112500.0           1
19995       19995  5117251       Y            2  112500.0           1
19996       19996  5117252       Y            2  112500.0           1
19997       19997  5117254       Y            0  207000.0           1
19998       19998  5117255       Y            0  207000.0           1

       WORK_PHONE  PHONE  E_MAIL  FAMILY SIZE  BEGIN_MONTH  AGE  \
0               0      0       0            2           29   59
1               0      1       1            1            4   52
2               0      1       1            1           26   52
3               0      1       1            1           26   52
4               0      1       1            1           38   52
...           ...    ...     ...          ...          ...  ...
19994           0      0       0            4           16   36
19995           0      0       0            4           14   36
19996           0      0       0            4            7   36
19997           0      0       0            2           37   61
19998           0      0       0            2           49   61

       YEARS_EMPLOYED  TARGET  Class
0                   3       0      0
1                   8       0      0
2                   8       0      0
3                   8       0      0
4                   8       0      0
...               ...     ...    ...
19994               7       0      0
19995               7       0      0
19996               7       0      0
19997              10       0      0
19998              10       0      0

[19999 rows x 15 columns]

In [8]:
Credit_card_data=Credit_card_data.drop(columns=['REALITY'],axis=1)
Credit_card_data

,Unnamed: 0,ID,NO_OF_CHILD,INCOME,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET,Class
0,0,5008806,0,112500.0,1,0,0,0,2,29,59,3,0,0
1,1,5008808,0,270000.0,1,0,1,1,1,4,52,8,0,0
2,2,5008809,0,270000.0,1,0,1,1,1,26,52,8,0,0
3,3,5008810,0,270000.0,1,0,1,1,1,26,52,8,0,0
4,4,5008811,0,270000.0,1,0,1,1,1,38,52,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,19994,5117250,2,112500.0,1,0,0,0,4,16,36,7,0,0
19995,19995,5117251,2,112500.0,1,0,0,0,4,14,36,7,0,0
19996,19996,5117252,2,112500.0,1,0,0,0,4,7,36,7,0,0
19997,19997,5117254,0,207000.0,1,0,0,0,2,37,61,10,0,0
19998,19998,5117255,0,207000.0,1,0,0,0,2,49,61,10,0,0

In [9]:
#Printing the count of normal transaction and fraudulent transaction
Credit_card_data['Class'].value_counts()

Class
0    13547
1     6452
Name: count, dtype: int64

In [10]:
#Data is imbalanced.
#Seperating the data for analysis
legit=Credit_card_data[Credit_card_data.Class==0]
Fraud=Credit_card_data[Credit_card_data.Class==1]
print(legit.shape)
print(Fraud.shape)

(13547, 14)
(6452, 14)

In [11]:
#The data is unbalanced
#Statistical measures of data
legit.INCOME.describe()

count    1.354700e+04
mean     1.976239e+05
std      1.032192e+05
min      3.690000e+04
25%      1.350000e+05
50%      1.800000e+05
75%      2.340000e+05
max      1.125000e+06
Name: INCOME, dtype: float64

In [12]:
Fraud.INCOME.describe()

count    6.452000e+03
mean     1.900181e+05
std      1.002647e+05
min      3.150000e+04
25%      1.305000e+05
50%      1.800000e+05
75%      2.250000e+05
max      1.350000e+06
Name: INCOME, dtype: float64

In [13]:
#Number of fraudulent transaction=6492
legit_sample=legit.sample(n=6452)

In [14]:
new_dataset=pd.concat([legit_sample,Fraud],axis=0)
new_dataset.head()

,Unnamed: 0,ID,NO_OF_CHILD,INCOME,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET,Class
1377,1377,5021307,0,270000.0,1,0,0,0,2,2,46,1,0,0
19168,19168,5115686,0,180000.0,1,0,1,0,2,33,43,7,0,0
12131,12131,5068643,0,337500.0,1,0,1,0,1,22,62,8,0,0
6670,6670,5042235,0,112500.0,1,1,0,0,1,22,35,17,0,0
19190,19190,5115712,1,202500.0,1,0,0,0,3,58,29,6,0,0

In [15]:
new_dataset['Class'].value_counts()

Class
0    6452
1    6452
Name: count, dtype: int64

In [16]:
#Splitting the data into targets and features
#X=features
#Y=labels
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']
print(X)

       Unnamed: 0       ID  NO_OF_CHILD    INCOME  FLAG_MOBIL  WORK_PHONE  \
1377         1377  5021307            0  270000.0           1           0
19168       19168  5115686            0  180000.0           1           0
12131       12131  5068643            0  337500.0           1           0
6670         6670  5042235            0  112500.0           1           1
19190       19190  5115712            1  202500.0           1           0
...           ...      ...          ...       ...         ...         ...
19947       19947  5117165            1  135000.0           1           0
19948       19948  5117167            1  135000.0           1           0
19949       19949  5117168            1  135000.0           1           0
19950       19950  5117169            1  135000.0           1           0
19955       19955  5117187            1  270000.0           1           1

       PHONE  E_MAIL  FAMILY SIZE  BEGIN_MONTH  AGE  YEARS_EMPLOYED  TARGET
1377       0       0            2            2   46               1       0
19168      1       0            2           33   43               7       0
12131      1       0            1           22   62               8       0
6670       0       0            1           22   35              17       0
19190      0       0            3           58   29               6       0
...      ...     ...          ...          ...  ...             ...     ...
19947      0       0            2           47   44              14       0
19948      0       0            2           52   44              14       0
19949      0       0            2           50   44              14       0
19950      0       0            2           42   44              14       0
19955      1       0            2            9   39               2       0

[12904 rows x 13 columns]

In [17]:
print(Y)

1377     0
19168    0
12131    0
6670     0
19190    0
        ..
19947    1
19948    1
19949    1
19950    1
19955    1
Name: Class, Length: 12904, dtype: int64

In [18]:
#Split the data into Training and Testing data
#20% for testing and 80% data for testing 
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)
print(X.shape,X_train.shape,X_test.shape)

(12904, 13) (10323, 13) (2581, 13)

In [19]:
#training the logistic Regression Model with Training data
#model=LogisticRegression(max_iter=1000)
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth=10)

In [20]:
model.fit(X_train,Y_train)

RandomForestClassifier(max_depth=10)

In [21]:
#Model Evaluation
#accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [22]:
print('Accuracy on training data: ',training_data_accuracy)

Accuracy on training data:  0.8773612321999419

In [23]:
#Accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [24]:
print('Accuracy score on test data:',test_data_accuracy);

Accuracy score on test data: 0.8179000387446727

In [25]:
from sklearn.metrics import precision_score, recall_score, f1_score
Y_pred=model.predict(Y_test)
precision = precision_score(Y_test, Y_pred)
recall = recall_score(Y_test, Y_pred)
f1 = f1_score(Y_test, Y_pred)

print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-score: {f1:.4f}")

C:\Users\Anushka\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.